@model CookieAuthDemo.ViewModels.ConsentViewModel

@{
    ViewData["Title"] = "Consent";
}
<h2>@ViewData["Title"]</h2>

<p>
    Consent Configuration
</p>

<div class="row page-header">
    <div class="col-sm-10">
        @if (!string.IsNullOrWhiteSpace(Model.ClientLogoUrl))
        {
            <div><img class="img-rounded" src="@Model.ClientLogoUrl" /></div>
        }
        <h2>
            @Model.ClientName
            <small>希望使用你的账户</small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <form asp-action="Index">
            @if (Model.IdentityScopes.Any())
            {
                <ul class="list-group">
                    
                </ul>
            }
            @if (Model.ResourceScopes.Any())
            {
                
            }

        </form>
    </div>
</div>